.place__like-button {
    width: 22px;
    height: 19px;
    background: transparent url('../../../images/like.svg') no-repeat center;
    padding: 0;
    margin-right: 20px;
    cursor: pointer;
    transition: opacity ease .3s;
    border: 0;
}

.place__like-button:hover {
    opacity: .5;
}

.place__like-button:focus {
    background: url('../../../images/like-active.svg') no-repeat center;
}