.profile__name {
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0;
    margin-right: 18px;
    max-width: 294px;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 700) {
    .profile__name {
        max-width: 189px;
        font-size: 27px;
        line-height: 32.68px;
        margin-right: 10px;
    }
}